<footer class="footer-section">
	<div class="container ">
		<div class="row">
			<ul class="footer-site-links col-md-offset-1">
				<li><a target="_blank" href="http://www.sfacindia.com/"><img src="resources/pix/footer/img1.png"/></a></li>
				<li><a target="_blank" href="http://india.gov.in/"><img src="resources/pix/footer/img2.png"/></a></li>
				<li><a target="_blank" href="http://www.digitalindia.gov.in/"><img src="resources/pix/footer/img3.png"/></a></li>
				<li><a target="_blank" href="http://data.gov.in/"><img src="resources/pix/footer/img4.png"/></a></li>
				<li><a target="_blank" href="http://deity.gov.in/"><img src="resources/pix/footer/img5.png"/></a></li>
				<li><a target="_blank" href="http://pmindia.gov.in/"><img src="resources/pix/footer/img6.png"/></a></li>
				<li><a target="_blank" href="http://www.nagarjunagroup.com/"><img src="resources/pix/footer/img7.png"/></a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="align-center footer-text-msg">Department of Agriculture, Cooperation & Farmers' Welfare, Ministry of Agriculture and Farmers' Welfare, Government of India<br> Government of India</div>
		</div>
	</div>
</footer>