
<header class="header-bid ng-scope" ng-if="isLogin == false">
  <div class="container">
    <div class="row">
      <div class=" col-xs-12 col-sm-12 col-md-6">
        <div class="india-logo">
          <img alt="India" src="resources/pix/india-logo.png">
          <div class="india-name">GOVERNMENT<br> OF INDIA</div>
        </div>
        <div class="india-msg">
          Small Farmers' Agribusiness Consortium<br>
          Department of Agriculture, Cooperation &amp; Farmers' Welfare <br>
          Ministry of Agriculture and Farmers' Welfare, Government of India
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
	    <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="header-right-list india-logo">
            <img src="resources/pix/help-no.png">
          </div> </div>
		   <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="header-right-list india-logo">
            <a class="border" href="#/login" title="Login"><img src="resources/pix/login-icon.png"></a>
          </div>
		   </div>
		   </div>

			<div class="header-right-section" >
          <div class="header-right-list">
            <div class="font-size-change">
              <a class="font-A--btn" href="javascript:void()">A-</a>
              <a class="font-A-btn" href="javascript:void()">A</a>
              <a class="font-A-plus-btn" href="javascript:void()">A+</a>
            </div>

            <div class="color-theme">
              <a class="red-theme-btn" onclick="changetheme('red-box');" href="javascript:void();"><span class="red-box">&nbsp;&nbsp;&nbsp;</span></a>
              <a class="green-theme-btn" onclick="changetheme('green-box');" href="javascript:void();"><span class="green-box">&nbsp;&nbsp;&nbsp;</span></a>

              <a class="blue-theme-btn" onclick="changetheme('blue-box');" href="javascript:void();"><span class="blue-box">&nbsp;&nbsp;&nbsp;</span></a>
              <a class="orange-theme-btn" onclick="changetheme('orange-box');" href="javascript:void();"><span class="orange-box">&nbsp;&nbsp;&nbsp;</span></a>
            </div>
          </div>
          <div class="header-right-list">
            <div class="form-group">
              <label for="sel1" style="color:#fff"> Language:</label>
              <select onchange="location = this.options[this.selectedIndex].value;" class="form-control" style="height: 28px !important;padding: 3px 0px  !important;" id="sel1" default="English">
                <option value="../home/index.html">English</option>
                <option value="../home_hindi/index.html">Hindi</option>
                <option value="../home_gujarati/index.html">Gujarati</option>
                <option value="../home_telugu/index.html">Telugu</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


 
 
 <header class="header-bid ng-scope"  ng-if="isLogin == true">
        <div class="container">
            <div class="row">
                <div class=" col-xs-12 col-sm-12 col-md-3 logo-bid">
                    <img src="resources/images/brandename.png" alt="ename"/>
                </div>
                 <div class="col-xs-12 col-sm-12 col-md-9 clearfix bid-admin-right">
                     <div class="col-md-12 admin-name">
                          <ul>						                 
                             <li><div class="row"><div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4">{{clock | date :  "dd/MM/y H:mm:ss"}}</div>
                              <div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4"><select class="form-control" ng-model="state" ng-options="state.stateId as state.stateName for state in userInfo.stateResponse" >
                              <option value="null">--Select--</option>
                              </select></div></li>
                             <li class="dropdown admin-name-res">
                                <a class="dropdown-toggle admin-name-clr" data-toggle="collapse" data-target="#dropdown" aria-expanded="false">{{userInfo.userName}}
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu admin-submenu">
                                  <li><a href="#" data-toggle="modal"  data-target="#myModal"><i class="fa fa-cogs font-black" aria-hidden="true"></i>Preference</a></li>
                                    <li><a href="#"><i class="fa fa-sign-out font-black" aria-hidden="true"></i>Logout</a></li>
                                </ul>
                             </li>
    
                        </ul>
                     </div>
                </div>
            </div>
        </div>
    </header>