<div layout="coloumn" layout-xs="column" flex>
  <div flex ng-cloak>
	  <md-toolbar class="md-table-toolbar md-default">
		  <div class="md-toolbar-tools">
		    <span>Bidding</span>
		  </div>
		</md-toolbar>

		<!-- exact table from live demo -->
		<md-table-container>
		  <table md-table md-progress="promise">
		    <thead md-head md-order="query.order">
	            <tr md-row>
	               <th md-column ng-repeat="column in autocolumn" md-order-by="{{column.name}}">
	                  <span>{{column.display}}</span>
	               </th>
	            </tr>
	         </thead>
		    <tbody md-body>
		      <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="obj in bidList | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
		        <td md-cell>{{obj.oprName}}</td>
		        <td md-cell>{{obj.productName}}</td>
		        <td md-cell>{{obj.lotCode}}</td>
		        <td md-cell>{{obj.commissionAgent | uppercase}}</td>
		        <td md-cell>{{obj.wbWeight}}</td>
		        <td md-cell>{{obj.wbWeight}}</td>
		        <td md-cell>{{'0'}}</td>
		        <td md-cell>{{'0'}}</td>
		        <td md-cell>{{'0'}}</td>
		        <td md-cell>{{'Time Remain'}}</td>
		        <td md-cell><input type="text" ng-model="bidRate" /></td>
		        <td md-cell><input type="button" value="Bid" ng-click="postBid(obj, bidRate)"/></td>
		        <td md-cell><input type="button" value="Show" ng-click="getBid()"/></td>
		        <td md-cell>{{obj.seller}}</td>
		        <td md-cell>{{''}}</td>
		        <td md-cell><input type="button" value="Show"/></td>
		        <td md-cell>{{obj.startDate}}</td>
		        <td md-cell>{{obj.endDate}}</td>
		        <td md-cell>{{(obj.submitMultiBid == 'Y') ? 'Yes': 'No'}}</td>
		        <td md-cell>{{obj.extendedEndTime}}</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>

		<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{bidList.length}}" md-page-select="options.pageSelect"></md-table-pagination>
	</div>
</div>