<section class="content-section">
	<div class="container pdtop160" >
		<div class="container">
    <div class="row">
        <form>
            <div class="panel panel-info">
	   <div class="panel-heading">
	     <div class="row panel-wrap">
	       <div class="col-md-10 col-sm-12 col-xs-12 mar-top-15 ">
	       <div class="row">
	        <div class="col-md-4 col-sm-6 col-xs-12 ">
	         <div class="row form-group">
	           <div class="col-md-4 col-sm-4 col-xs-12 "><label>APMC </label></div>
	            <div class="col-md-7 col-sm-8 col-xs-12 ">
					<select class="form-control" style="height: 35px;" ng-model="state" ng-change="getApmcList(state)" ng-options="state as state.stateName for state in stateList">
					</select>
	            </div>
	          </div>
	        </div>

	       <div class="col-md-4 col-sm-6 col-xs-12 ">
	        <div class="row form-group">
	          <div class="col-md-4 col-sm-4 col-xs-12 "> <label>Agent </label></div>
	            <div class="col-md-7 col-sm-8 col-xs-12 ">
	             <select class="form-control" style="height: 35px;">
				 	  <option>All</option>
	            </select>
	            </div>
	          </div>
	        </div>


	        <div class="col-md-4 col-sm-6 col-xs-12 ">
	        <div class="row form-group">
	          <div class="col-md-4 col-sm-4 col-xs-12 "><label>Commodity </label></div>
	            <div class="col-md-7 col-sm-8 col-xs-12 ">
	            <select class="form-control" style="height: 35px;">
				   <option ng-model="commodity" ng-repeat="ammc in ammcList" value="ammc.ammcId" ng-change="getCommodityList(ammc.ammcId)">{{ammc.ammcName}}</option>
	            </select>
	            </div>
	          </div>
	        </div>


				       <div class="col-md-4 col-sm-6 col-xs-12">
				        <div class="row form-group">
				          <div class="col-md-4 col-sm-4 col-xs-12 "><label>Lot Code </label></div>
				            <div class="col-md-7 col-sm-8 col-xs-12 ">
				            <input type="text" class="form-control"/>
				            </div>
				             </div>
				        </div>

				       <div class="col-md-4 col-sm-6 col-xs-12 saller">
				        <div class="row form-group">
				          <div class="col-md-4 col-sm-4 col-xs-12 saller "><label>Saller </label></div>
				            <div class="col-md-7 col-sm-8 col-xs-12 ">
				              <input type="text" class="form-control"/>
				            </div>
				          </div>
				        </div>


				        <div class="col-md-4 col-sm-6 col-xs-12 ">
				        <div class="row form-group">
				          <div class="col-md-4 col-sm-4 col-xs-12 "><label>Village</label> </div>
				            <div class="col-md-7 col-sm-8 col-xs-12 "><input type="text" class="form-control"/></div>
				          </div>
				        </div> </div>
	       		 </div>
           <div class="col-md-2 col-sm-12 col-xs-12 bit-search ">
				   <input type="button" value="Search" class="btn btn-primary "  />
            </div>
        </div>
	   </div></div></div>
    <div class="row mar-top-50">
        <div class="panel panel-default">
          <div class="panel-heading ">
            <h2 class="panel-title panel-bid">My Perfered Commodity Bids Listing</h2>
          </div>
          <div class="panel-body">
            
                <!-- PAGE CONTENT BEGINS -->
                <div class="row">
                <div class="bid-listing" id="">
                  <div class="col-xs-12 col-sm-12 " id="">
                        <div class="table-horizaontal table-vertical">
                            <table class="table table-striped table-bordered table-hover">
                              <thead class="thin-border-bottom">
                                <tr>
                                  <th>APMC </th>
                                  <th>Date</th>
                                  <th>Commodity</th>
                                  <th>Lote code</th>
                                  <th>Agent</th>
                                  <th>No.of<br>Bags</th>
                                  <th>commond<br> UOM QTY </th>
                                  <th>Mind Bid</th>
                                  <th>Last Bid</th>
                                  <th>My Bid</th>
                                  <th>New Bid</th>
                                  <th>Bid</th>
                                  <th>Certificate</th>
                                  <th>seller</th>
                                  <th>Village</th>
                                  <th>Test Result</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>Re-Bd<br>Allowed</th>
                                  <th>Extended Date</th>
                                  </tr>
                                  
                              </thead>

                              <tbody>
                                <tr>
                                  <td>Asds</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Asds</td>
                                  <td> <button class="btn btn-deafult" type="button">                     
                 Show
                </button></td>
                                  <td><button class="btn btn-deafult" type="button">                     
                 Show
                </button></td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td><button class="btn btn-deafult" type="button">                     
                 Show
                </button></td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                </tr>
                                <tr>
                                  <td>Asds</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Asds</td>
                                  <td><button class="btn btn-deafult" type="button">                     
                 Show
                </button></td>
                                  <td> <button class="btn btn-deafult" type="button">                     
                 Show
                </button></td>                   
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td><button class="btn btn-deafult" type="button">                     
                 Show
                </button></td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                  <td>Alex</td>
                                </tr>
      
                              </tbody>
                            </table>
                        
                      </div>
                    </div><!-- /.span -->
                  </div>
            </div>
          </div>
        </div>
    </div>
     
</div>   
            


        
   <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Your Preferences</h4>
        </div>
        <div class="modal-body">

            <form action="#" method="post" class="form" role="form">
              <div class="row">
              <div class="col-md-12">     
                 <div class="form-group row">
                   <label for="form-control" class="col-md-3 col-md-offset-1 col-form-label">Name</label>
                    <div class="col-md-7">
                      <input type="firstname" class="form-control" id="firstname" placeholder="">
                    </div>
                </div>

             <div class="form-group row">
             <label for="form-control" class="col-md-3 col-md-offset-1 col-form-label">E-mail Id</label>
              <div class="col-md-7">
                <input type="email" class="form-control" id="email" placeholder="">
             </div>
          </div>
                 <div class="form-group row">
             <label for="form-control" class="col-md-3 col-md-offset-1 col-form-label"> Contact </label>
              <div class="col-md-7">
                <input type="firstname" class="form-control" id="firstname" placeholder="">
             </div>
          </div>

          <div class="form-group row">
             <label for="form-control" class="col-md-3 col-md-offset-1 col-form-label">Password</label>
              <div class="col-md-7">
                <input type="firstname" class="form-control" id="firstname" placeholder="">
             </div>
          </div>
            <div class="form-group row">
             <label for="form-control" class="col-md-3 col-md-offset-1 col-form-label">Confirm-Password </label>
              <div class="col-md-7">
                <input type="email" class="form-control" id="email" placeholder="">
             </div>
          </div>
            
            <div class="form-group">  
                <div class="col-md-3 col-md-offset-1">         
                  <label for="Select">Current Operating Unit</label>
               </div>
               <div class="col-md-7">
                 <select id="Select" class="form-control">
                   <option>HYDERABAD</option>
                   <option>NAGPUR</option>
                   <option>PUNE</option>
               </select>
             </div>
         </div>
         </div>
         </div>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>

      </div>
    </div>
  </div>
	</div>	
</section>

