<section class="content-section">
	<div class="container pdtop" >
		<div class="row">
			<div class="page-header"> <span class="red text-center">
				<h4>Enter the New bid Data </h4>
			</span> </div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="search-box">
					<form>

						<div class="col-md-3">
							<div class="form-group row">
								<label for="date" class="col-sm-4 col-form-label">Date</label>
								<div class="col-sm-8">
									<input class="form-control" id="date" placeholder="" type="date">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row">
								<label for="text" class="col-sm-4 col-form-label">Lot Code</label>
								<div class="col-sm-8">
									<input class="form-control" id="input-text" placeholder="" type="email">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row">
								<label for="text" class="col-sm-4 col-form-label">Invoice No</label>
								<div class="col-sm-8">
									<input class="form-control" id="input-text" placeholder="" type="email">
								</div>
							</div>
						</div>
						<div class="col-md-3 search-button">
							<button type="button" class="btn btn-primery search-button">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12"> 
				<!-- PAGE CONTENT BEGINS -->
				<div class="col-xs-12 col-sm-12" id="">    
					<div class="panel panel-color">
						<h4 class="panel-heading"> Pendding Amount: </h4>
					</div>     
					<div class="Panel-body">
						<table class="table table-bordered">
							<thead class="">
								<tr>
									<th>Invoice </th>
									<th>Date</th>
									<th>Lote code</th>
									<th>Selller Name </th>
									<th>Agent Name</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="">Asds</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12"> 
				<!-- PAGE CONTENT BEGINS -->
				<div class="col-xs-12 col-sm-6 col-md-4 panel-table" id="">

					<div class="panel panel-color ">
						<h4 class="panel-heading"> Commodity </h4>
					</div>
					<div class="Panel-body">
						<table class="table table-bordered">
							<thead class="thin-border-bottom">
								<tr>
									<th>Commodity</th>

								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>     
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 panel-table" id="">

					<div class="panel panel-color">
						<h4 class="panel-heading"> Trade </h4>
					</div>
					<div class="Panel-body">
						<table class="table  table-bordered">
							<thead>

							</thead>
							<tbody>
								<tr>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
								</tr>
								
							</tbody>
						</table>
					</div>    
				</div>    
				<div class="col-xs-12 col-sm-6 col-md-4 panel-table" id="">
					<div class="panel  panel-color">
						<h4 class="panel-heading"> Permits  </h4>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Invoice </th>
								<th>Date</th>
								<th>Lote code</th>
								<th>Selller Name </th>
								<th>Agent Name</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="">Asds</td>
								<td class="">Alex</td>
								<td class="">Alex</td>
								<td class="">Alex</td>
								<td class="">Alex</td>
							</tr>
							      
						</tbody>
					</table>

				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"> 
				<!-- PAGE CONTENT BEGINS -->
				<div class="col-xs-12 col-sm-6 col-md-4  panel-table" id="widget-container-col-2">
					<div class="panel panel-color ">

						<h4 class="panel-heading"> Outcry/Auction Won </h4>

					</div>
					<div class="Panel-body">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Invoice </th>
									<th>Date</th>
									<th>Lote code</th>
									<th>Selller Name </th>
									<th>Agent Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="">Asds</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
								</tr>
								
							</tbody>
						</table>
					</div>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4 panel-table" id="widget-container-col-2">

					<div class="panel panel-color">
						<h4 class="panel-heading"> Security Deposit Details </h4>
					</div>

					<div class="Panel-body">
						<table class="table table-bordered ">
							<thead class="thin-border-bottom">
								<tr>
									<th>Invoice </th>
									<th>Date</th>
									<th>Lote code</th>
									<th>Selller Name </th>
									<th>Agent Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="">Asds</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
									<td class="">Alex</td>
								</tr>
								
							</tbody>
						</table>
					</div>

				</div>
			</div>
		</div>
	</div>	
</section>

