/*blue theme*/
.blue-theme .header-section{background-color:#3F96DA;}
.blue-theme .navigation li a.active{background-color:#3F96DA;color:#fff;}
.blue-theme .navigation li a:hover{background-color:#3F96DA;color:#fff;}
.blue-theme .quick-link-list{border-top:5px solid #3F96DA;}
.blue-theme .commodity-list{border-top:5px solid #3F96DA;}
.blue-theme .thumbnails .span3 .caption h4 {background-color: #3F96DA;}
.blue-theme .sidebar-header-title{border-bottom:5px solid #3F96DA;}
.blue-theme .natinal-agricul-market .header-title{border-bottom:5px solid #3F96DA;}
.blue-theme .language-bg-color{background-color: #3683be;}
.blue-theme .natinal-agricul-market table thead{background-color: #3F96DA;color:#fff;}
.blue-theme .commodity-graph-section .header-title{color:#3F96DA;}

.blue-theme .quick-img1{background-image:url('quick-link/blue/quick1.png');}
.blue-theme .quick-img2{background-image:url('quick-link/blue/quick2.png');}
.blue-theme .quick-img3{background-image:url('quick-link/blue/quick3.png');}
.blue-theme .quick-img4{background-image:url('quick-link/blue/quick4.png');}
.blue-theme .quick-img5{background-image:url('quick-link/blue/quick5.png');}
.blue-theme .quick-img6{background-image:url('quick-link/blue/quick6.png');}
.blue-theme .quick-img7{background-image:url('quick-link/blue/quick7.png');}
.blue-theme .quick-img8{background-image:url('quick-link/blue/quick8.png');background-repeat: no-repeat;}
.blue-theme .quick-img9{background-image:url('quick-link/blue/quick9.png');}
.blue-theme .quick-img10{background-image:url('quick-link/blue/quick10.png');}

/*blue theme*/

.blue-theme .bgclr{
	background: rgba(63, 150, 218 , 0.6);
	color:#fff;
}

