/*footer section*/
.footer-section{background-color:#212121;min-height:50px;}
.footer-site-links{float:left;}
.footer-site-links li:last-child{ border-right: 0px solid #4f4f4f;}
.footer-site-links li{ border-right: 1px solid #4f4f4f;
    float: left;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 2px 25px;}
.footer-text-msg{padding-bottom:20px;color:#fff;}