

/*green theme*/
.green-theme .header-section{background-color:#6D9520;}
.green-theme .navigation li a.active{background-color:#6D9520;color:#fff;}
.green-theme .navigation li a:hover{background-color:#6D9520;color:#fff;}
.green-theme .quick-link-list{border-top:5px solid #6D9520;}
.green-theme .commodity-list{border-top:5px solid #6D9520;}
.green-theme .thumbnails .span3 .caption h4 {background-color: #6D9520;}
.green-theme .sidebar-header-title{border-bottom:5px solid #6D9520;}
.green-theme .natinal-agricul-market .header-title{border-bottom:5px solid #6D9520;}
.green-theme .language-bg-color{background-color: #5d7f1b;}
.green-theme .natinal-agricul-market table thead{background-color: #6D9520;color:#fff;}
.green-theme .commodity-graph-section .header-title{color:#6D9520;}

.green-theme .quick-img1{background-image:url('quick-link/green/quick1.png');}
.green-theme .quick-img2{background-image:url('quick-link/green/quick2.png');}
.green-theme .quick-img3{background-image:url('quick-link/green/quick3.png');}
.green-theme .quick-img4{background-image:url('quick-link/green/quick4.png');}
.green-theme .quick-img5{background-image:url('quick-link/green/quick5.png');}
.green-theme .quick-img6{background-image:url('quick-link/green/quick6.png');}
.green-theme .quick-img7{background-image:url('quick-link/green/quick7.png');}
.green-theme .quick-img8{background-image:url('quick-link/green/quick8.png');background-repeat: no-repeat;}
.green-theme .quick-img9{background-image:url('quick-link/green/quick9.png');}
.green-theme .quick-img10{background-image:url('quick-link/green/quick10.png');}

.green-theme .bgclr{
	background: rgba(109, 149, 32 , 0.6);
	color:#fff;
}