/*orange theme*/
.orange-theme .header-section{background-color:#E66100;}
.orange-theme .navigation li a.active{background-color:#E66100;color:#fff;}
.orange-theme .navigation li a:hover{background-color:#E66100;color:#fff;}
.orange-theme .quick-link-list{border-top:5px solid #E66100;}
.orange-theme .commodity-list{border-top:5px solid #E66100;}
.orange-theme .thumbnails .span3 .caption h4 {background-color: #E66100;}
.orange-theme .sidebar-header-title{border-bottom:5px solid #E66100;}
.orange-theme .natinal-agricul-market .header-title{border-bottom:5px solid #E66100;}
.orange-theme .language-bg-color{background-color: #d65c03;}
.orange-theme .natinal-agricul-market table thead{background-color: #E66100;color:#fff;}
.orange-theme .commodity-graph-section .header-title{color:#E66100;}

.orange-theme .quick-img1{background-image:url('quick-link/orange/quick1.png');}
.orange-theme .quick-img2{background-image:url('quick-link/orange/quick2.png');}
.orange-theme .quick-img3{background-image:url('quick-link/orange/quick3.png');}
.orange-theme .quick-img4{background-image:url('quick-link/orange/quick4.png');}
.orange-theme .quick-img5{background-image:url('quick-link/orange/quick5.png');}
.orange-theme .quick-img6{background-image:url('quick-link/orange/quick6.png');}
.orange-theme .quick-img7{background-image:url('quick-link/orange/quick7.png');}
.orange-theme .quick-img8{background-image:url('quick-link/orange/quick8.png');background-repeat: no-repeat;}
.orange-theme .quick-img9{background-image:url('quick-link/orange/quick9.png');}
.orange-theme .quick-img10{background-image:url('quick-link/orange/quick10.png');}

.orange-theme .bgclr{
	background: rgba(230, 97, 0, 0.6);
	color:#fff;
}