

/* Normal ====================================*/
.font-A .india-logo .india-name{font-size:13px;}
.font-A .india-msg{font-size:13px;}
.font-A .header-title{font-size: 19px;}
.font-A .quick-link-header{font-size: 19px;}
.font-A .commodity-header{font-size: 19px;}
.font-A .sidebar-header-title{font-size: 19px;}
.font-A .natinal-agricul-market .header-title{font-size: 19px;}
.font-A .focus-news  .focus-news-feilds p{font-size: 13px;}
.font-A .quick-link-list li a{font-size: 13px;}
/*min ====================================*/
.font-A- .india-logo .india-name{font-size:12px;}
.font-A- .india-msg{font-size:12px;}
.font-A- .header-title{font-size: 17px;}
.font-A- .quick-link-header{font-size: 17px;}
.font-A- .commodity-header{font-size: 17px;}
.font-A- .sidebar-header-title{font-size: 17px;}
.font-A- .natinal-agricul-market .header-title{font-size: 17px;}
.font-A- .focus-news .focus-news-feilds p{font-size: 11px;}
.font-A- .quick-link-list li a{font-size: 10px;}
/*plus ====================================*/
.font-A-plus .india-logo .india-name{font-size:13px;}
.font-A-plus .india-msg{font-size:13px;}
.font-A-plus .header-title{font-size: 21px;}
.font-A-plus .quick-link-header{font-size: 21px;}
.font-A-plus .commodity-header{font-size: 21px;}
.font-A-plus .sidebar-header-title{font-size: 21px;}
.font-A-plus .natinal-agricul-market .header-title{font-size: 21px;}
.font-A-plus .focus-news  .focus-news-feilds p{font-size: 14px;}
.font-A-plus .quick-link-list li a{font-size: 14px;}
/*====================================*/

/*comman css*/
.f-left{float:left;}
.f-right{float:right;}
.align-left{text-align:left;}
.align-right{text-align:right;}
.align-center{text-align:center;}

/*header section*/

.header-section{min-height:72px;}
.india-logo {float:left;
}

.india-logo .india-name{padding:15px 16px 0 0;font-family:Fujiyama2;float:left;color:#fff;}
.india-msg{border-left: 1px solid #f1f1f1;
    color: #fff;
    float: left;
    font-family: calibri;
    font-weight: bold;
    line-height: 14px;
    padding-left: 16px;
    text-align: left;}
.header-right-section{float:right;
margin-top:-20px;
}
.header-right-list:first-child{border-left:0px solid #c8c8c8;}

.login-btns a.border img{border-right: 2px solid #fff;
    margin-right: 2px;
    padding-right: 8px;}
.font-size-change a{border: 1px solid #fff;
    color: #fff;
    font-weight: bold;
    padding: 1px 4px;
	margin-right:3px;margin-top:4px;float:left;min-width:25px;}
	
/*social site links section*/
.top-social-icon a{float:left;margin-left:10px;padding-top:0px;}
.fb-icon{float: left;height: 18px;width: 9px;background-image:url('img/fb-icon.png');background-position:0 0;}
.fb-icon:hover{background-position:9px 18px;}
.twit-icon{float: left;height: 19px;width: 25px;background-image:url('img/twit-icon.png');background-position:0 0;}
.twit-icon:hover{background-position:24px 19px;}
.rss-icon{float: left;height: 21px;width: 21px;background-image:url('img/rss-icon.png');background-position:0 0;}
.rss-icon:hover{background-position:21px 20px;}

.color-theme{padding-top:5px;float:left;}
.red-box{border:1px solid #fff;background-color:#b45834;height:17px;width:17px;float:left;margin-left:1px;}
.green-box{border:1px solid #fff;background-color:#6D9520;height:17px;width:17px;float:left;margin-left:5px;}
.orange-box{border:1px solid #fff;background-color:#E66100 ;height:17px;width:17px;float:left;margin-left:5px;}
.blue-box{border:1px solid #fff;background-color:#3F96DA;height:17px;width:17px;float:left;margin-left:5px;}
.language-bg-color{color:#fff;
    border: 1px solid #fff;
    font-size: 12px;}
/*menu bar css*/
.navigation{padding:0;margin:0;}
.navigation li{list-style:none;}
.navigation li a{color:#4a4844 ;font-family:calibri;font-size:15px !important;}
.navigation li a.active{color:#fff !important;}
.navigation li a:hover{color:#fff !important;}

/*slider*/
.slider img.banner{width:100%;background-position:center;}

/*marquee-section*/
.marquee-section{background-color:#f5f5f5;padding:0px 0;font-size:19px;font-family:calibri;line-height:20px;}
.black-c-font{color:#545454;margin-left:10px;margin-right:10px;}
.blue-c-font{color:#3473b4;margin-right:7px;}
.orange-c-font{color:#b45834;margin-right:7px;}

/*Dashboard section*/
.natinal-agricul-market .header-title{color:#545454;
    font-family: calibri;
    margin-bottom: 15px;float:left;width:100%;padding-bottom:10px;}
.natinal-agricul-market table thead tr td{padding:6px;color:#fff;font-weight:400;text-align:center;}
.natinal-agricul-market table tbody tr td{padding:6px;color:#7a7a7a;font-weight:400;text-align:left;}
.natinal-agricul-market table tbody{background-color:#f5f5f5;}
.natinal-agricul-market table tbody tr.active{background-color:#e9e9e9;}


/*mid content*/
.mid-top-space{padding-top:30px;float:left;width:100%;}
.mid-bottom-space{padding-bottom:30px;}
.natinal-agricul-market .screen{width:100%;}
.commodity-graph-section{float:left;}
.commodity-graph-section .header-title{
    font-family: calibri;
    margin-bottom: 15px;float:left;width:100%;}
.commodity-graph-section img{float:left;width:100%;filter: brightness(100%);
    transition: all 1s ease 0s;}
.commodity-graph-section img:hover {
    filter: brightness(150%);
}
/* quick link section*/
.quick-link-header,.commodity-header{color:#545454;font-family: calibri;}
.quick-link-list{background-color:#f9f9f9;padding:10px;margin-top:11px;}
.quick-link-list li{padding:6px;border-bottom:1px solid #eee;}
.quick-link-list li:last-child{border-bottom:0px solid #eee;}
.quick-link-list li a{color:#545454;display:block;}
.quick-link-list li:hover{background-color:#f1efef;}
.quick-link-list li a img{padding-right:10px;}
.commodity-list{background-color:#fff;padding:10px;margin-top:11px;}

.quick-img1{float: left;height: 29px;margin-right: 10px;width: 29px;}
.quick-img2{float: left;height: 24px;margin-right: 10px;width: 28px;}
.quick-img3{float: left;height: 29px;margin-right: 10px;width: 29px;}
.quick-img4{float: left;height: 26px;margin-right: 10px;width: 29px;}
.quick-img5{float: left;height: 27px;margin-right: 10px;width: 29px;}
.quick-img6{float: left;height: 25px;margin-right: 10px;width: 29px;}
.quick-img7{float: left;height: 25px;margin-right: 10px;width: 29px;}
.quick-img8{float: left;height: 25px;margin-right: 10px;width: 29px;}
.quick-img9{float: left;height: 25px;margin:0px 12px 0px -2px;width: 29px;}

.quick-img10{float: left;height: 25px;margin:0px 12px 0px -2px;width: 29px;}

/*sidebar css*/
.video-section,.photo-section,.focus-section{float:left;padding-bottom:20px;width:100%;}
.sidebar-header-title{color:#545454;font-family: calibri;
   padding-bottom:10px;border-bottom:5px solid #b45834;margin-bottom:15px;}
.view-more{font-family: calibri;
    font-size: 14px;padding:10px 0;}
.view-more a{color:#b45834;}

.focus-news{background-color:#f9f9f9;padding:12px;}
.focus-news-feilds{border-bottom:1px solid #eee;width:100%;padding-bottom:15px;margin-bottom:15px;}/*float:left; comment*/
.focus-news-feilds p{color:#181818;margin-bottom:10px;}
.focus-news-feilds a{color:#b45834;margin-bottom:10px;}

/*Carousel Control*/
.thumbnail{border:0px;padding:0;}
.thumbnails .span3{  float: left;
    margin-right: 16px;
    width: 112px}
.thumbnails .span3 .caption h4{background-color:#b45834;color:#fff;padding:8px 2px;text-align:center; font-family: calibri;
    font-size: 13px;
    font-weight: bold;}
.carousel-control.left{background-color:#999;}
.carousel-control.right{background-color:#999;}

.control-box {
    text-align: right;
    width: 100%;
    }
.carousel-control{
        background: #fff;
        border: 0px;
        border-radius: 0px;
        display: inline-block;
        font-size: 34px;
        font-weight: 200;
        line-height: 18px;
        opacity: 0.5;
        padding: 4px 10px 0px;
        position: static;
        height: 30px;
        width: 15px;
        }

/* Mobile Only */

@media (max-width: 767px) {
    .page-header, .control-box {
    text-align: center;
    } 
}
@media (max-width: 479px) {
    .caption {
    word-break: break-all;
    }
}

/*footer section*/
.footer-section{background-color:#212121;min-height:50px;}
.footer-site-links{float:left;}
.footer-site-links li:last-child{ border-right: 0px solid #4f4f4f;}
.footer-site-links li{ border-right: 1px solid #4f4f4f;
    float: left;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 2px 25px;}
.footer-text-msg{padding-bottom:20px;color:#fff;}

.classvideo{width:261px; height:191px;}


body{
  /*  background:#e6e6e6 ! important; */
    line-height: 1.9em;
    font-size: 14px;
    font-weight: bold;
    color:#000;
    background: #fff;
    font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}


.wrapper{
    width: 1100px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5 ,h6{
    color: #3a3a3a;
    font-family:'Raleway', sans-serif; ;
    letter-spacing: 1px;
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.clearfix:before,  
.clearfix:after {  
    content: " ";  
    display: table;  
}  
.clearfix:after {  
    clear: both;  
}  
 
.clearfix {  
    *zoom: 1;  
}

.clear{
    clear: both;
}

.bg-color{
    background-color: #9e9e65;
}

.pdtop{
    padding-top: 110px;
}
.pdtop160{
  padding-top: 160px;
}




nav ul li a{
    text-decoration: none;  
    font-family: "raleway-bold";
    font-size: 15px;

    transition:all .2s linear;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -o-transition:all .2s linear;
}

 nav ul li a{  
    color: #fff;
}

nav ul li a:hover{
    color: #fff;
}

nav ul li a{  
    color: #353535;
}


 nav ul li a:hover{
    color: #474646;
}
.brand-name h1 {
  color: #fff ! important ;
 
  text-align: center;
}

.navbar-default {
  border-color: #ba532a;
}
.navbar-default .navbar-nav>li>a{
  font-family: railway;
    font-size: 17px;
    color: #1f1f1f;
}



.navbar-default .navbar-nav>li>a:hover{
    color: #fff;
    

}



.nav-bg{
    margin:;   
	background-color:#ba532a ! important;
}
.fluid-color {
	background-color: #ba532a;
}
.text-center{
    color: red;
}

.form-header{
    margin-top:25px;
}
.brand-name{
    color: #fff;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {

    background-color: #ba532a ! important;
    background-image: none;
    color: #fff;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {

   background-color: #ba532a ! important;
    color: #fff;
}
nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
   background-color: #ba532a ! important;
    color: #fff;
}
.brand-logo{
    display: block;
}
.name{
   font-size: 30px;
}
.select-button{
    text-align: center;
}
.headername{
    text-align: center;
}
.navbar-toggle:focus {
    background-color: #949494 ! important; 
}
.navbar-toggle{
 background-color: #949494 ! important; 
}

.navbar-default .navbar-toggle .icon-bar{
    background-color: #fff;
}

.name-center{
    text-align: center;
}


img{
   margin: auto ! important; 
}

.margin-top{
    margin-top: 20px;
}

.title{
   text-align: center;
  margin-top: 100px;
   color: #fff;
      }

.title-name{
    
        font-size: 36px;
     font-weight: bold;
     font-family:serif;
     color: #fff;
 }
.body-center{
   margin-top: 30px;

}
.panel-bg{
    background-color: #fff ! important; 
     border-color: 4px solid green ! important; 
     box-shadow:0px 1px  #a0a0a0
   
}
.panel-logoutbox{
    padding: 17px;
    padding-top: 27px;
    padding-bottom: 40px;
}
.panal-box{
  padding-top: 20px;

}
.panel-heading{
 padding: 0px 10px ! important;
 color: #fff;
}


.panelheading-box{
    background-color:#ba532a;
}

.panel{
    margin:0px !important;
    
}
.panel-color{
background-color:#ba532a! important; 
}
.panel-heading{
   }

.from-field{
    margin-top: 23px;
}

.panel-table{
    margin-top: 35px;
}

.title{
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 18px;
 
}

.form-control { margin-bottom: 10px; }

.rounded-box {
    height:25px;
 border: 2px solid #fff;

}
.box-green {
  background-color:#FF9800;
}
.box-blue {
  background-color:#2196F3;
}
.red-box {
    border: 1px solid #fff;
    background-color: #b45834;
    height: 17px;
    width: 17px;
    float: left;
    margin-left: 1px;
}
.bid-listing{
    margin-top: 20px;
}
.bid-form{
    margin-top: 20px;
}
.search-box{
    margin: auto;
    display: block;

}
.langauges{
  color: #fff;
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 40px;

}
.clear{
  clear: both;
}
.footer-space{
 margin-bottom: 55px;
}

/*footer section*/
.footer-section{background-color:#212121;min-height:50px;}
.footer-site-links{float:left;}
.footer-site-links li:last-child{ border-right: 0px solid #4f4f4f;}
.footer-site-links li{ border-right: 1px solid #4f4f4f;
    float: left;
    margin-bottom: 25px;
    margin-top: 30px;
    padding: 2px 25px;}
.footer-text-msg{padding-bottom:20px;color:#fff;}


.login-btns{
  display: block;
  float: left;
  margin-top: 15px;
}
.user-info{
  color: #FFF;
}

.right-nav{
  margin-top: 11px;
}
.dropdown-modal{
  margin-top: 3px;
}
.ace-icon{
  color: #fff;
}
.nav{

}
.navbar{
  z-index: 1;
}

.nav ul  {
  color: #fff;
  margin-top: 10px;
}
/* .nav a{
  color:#fff;
} */


.nav>li>a:focus, .nav>li>a:hover{
 background:  #ba532a ! important
 color:#fff;
}
.text-input{
  left: 10px;
}




@media only screen and (max-width: 500px) {


img{
   margin: auto ! important; 
}

.brand-name h1 {
    color: #fff ! important;
 
    display: block;
    font-size: 19px;
}

.name{
   font-size: 19px;
}
.nav-right{
    margin-right:100px;
}
.body-center{
   margin-top: 0px;

}
.panel-logoutbox{
    padding: 17px;
    padding-top:40px;
    padding-bottom: 40px;
}
.modal-body{
 margin-top: 0px;
}
 
 .logo-login img{
    display: block;
    margin-top: auto;

}
.search-button{
    margin-bottom: 10px;
}

}
thead tr th{
    font-size: 15px;
    font-family: initial;
}

/* bit listning css */

.mar-top-8{
    margin-top: 8px;
}
.mar-top-15{
    margin-top: 25px;
}
.mar-top-50{
    margin-top: 50px;
}
.form-group {
}
.panel-wrap{
    background-color: #e8e8e8;
}
.panel-info{
    border-color: transparent !important;
}
.panel-bid{
    padding: 10px;
}

.span-bid-right{
    float: left;
    width: 100%;
    display: block !important;
    font-size: 12px;
    color: black;
}

/* bit listning css ar  */

.mar-top-8{
    margin-top: 8px;
}
.mar-top-15{
    margin-top: 25px;
}
.mar-top-50{
    margin-top: 50px;
}
.panel-wrap{
 background-color: #ffffff;
}
.panel-wrap label{
 background-color: #ffffff;
 margin-top: 8px;
 font-weight: 600;
 color: #545454;
 font-size: 14px;
 font-family: initial;
    
}
.panel-info{
    border-color: transparent !important;
}
.panel-bid{
    padding: 10px;
	color: #ffffff;
	font-weight: 400;
	font-size: 18px;
	font-family:;
}
.header-bid{
    background-color: #ba532a;
    padding: 8px  0;
}
.header-bid img{
    height: 65px;
}

.nav-bid{
    border-bottom: 0.5px solid rgba(186,83,42,0.5);
	margin-left: 0px;
	margin-right: 0px;
}
.nav-bid a{
    font-size: 17px;
}

.navbar-bid{
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}
.admin-name ul{
    list-style-type: none;
    margin-top: 27px;
    float: right;
}
.admin-name-clr{
    color: #ffffff;
}
.admin-name ul li {
   display: inline;
    font-size: 14px;
    font-weight: 200;
    color: #ffffff;
    margin-left: 25px;
}
.admin-name ul li a{
    text-decoration: none;
}
.admin-name-clr:hover{
    text-decoration: none;
    color: #ffffff;
    font-weight: 400px;
}
.admin-submenu li{
    margin-left: 0px !important;
    text-align: left;
}
.font-black{
    color: black;
    margin-right: 5px;
}
.navheader-bid{
	padding: 7px 0px;
}
.navheader-bid button{
	background:#ffffff !important;
	padding: 6px 6px !important;
    border: 1px solid #ccc;
    margin-top: 0px;
    margin-bottom:0px;
}
.navheader-bid span{
	background:black !important;
}
/*panel table css*/
.span-bid-left{
    float: left;
    width: 40%;
    display: none;
}
.span-bid-right{
    float: left;
    width: 60%;
    display: block !important;
}
.panel-heading {
    background:rgba(186,83,42,1) !important;
}
.panel-default {
    border-color: rgba(186,83,42,0.5);
}
.panel-submit{
	margin: 0px;
    padding: 8px 0px 8px 20px;
}
.panel-cont{
	padding-top: 0px;
}
.bid-listing-cont{
	margin-top: 0px !important;
}
.panel-wrap-grid{
		margin-bottom: 40px;
	}
.span-hd{
    padding: .4em;
    min-width: 40%;
    display: inline-block;
    margin: -.4em 0 -.4em -.4em;
    font-size: 14px;
    color: #333;
    margin-left: 0px;
    font-weight: bolder;
}
.table-striped tbody tr td span{
	display: none;
}
 tbody tr td span{
	display: none;
}
 tbody tr td span{
	display: none;
}
.table-vertical {
     height:auto;
   
  
}
.admin-name-res{
    display: none;
}
.admin-name-res a{
    color: white;
}
.btn-refresh{
}
/* bit listning media query*/
@media screen and (max-width:1200px)
{
	.panel-wrap label{
		margin-left: 0px !important;
	}
}

@media screen and (max-width: 992px)
{
	 /*-----my biding history media query----*/
    .hist-search{
        float: right ;
    }
    .mar-bot-10{
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 920px)
{
	.admin-name ul{
		margin-top: 5px !important;
	}
	.admin-name ul li{
		font-size: 13px;
	}
}

@media screen and (max-width:768px)
{
	.panel-wrap-grid{
		margin: 0 15px;
	}
	.form-group {
		margin-bottom: 0px;
	}
    
    .table-striped thead{
		display:none;
	}
    
    .table-striped,
	.table-striped tbody,
	.table-striped tr,
	.table-striped td{
		display: block;
	}
    .table-striped td:after{
        display: table;
        clear: both;
        content: '';
    }
    
    .table-striped tbody tr td span{
	display: inline-block;
    }
    .table-striped tbody tr td{
		border: 0;
	}
    .table-striped tbody tr{
		border: 1px solid #ddd;
        border-radius: 4px;
        height: 255px;
        margin-bottom: 10px;
        overflow-y: scroll;
	}
   .table-vertical {
       overflow-y:auto;
    } 
    .table-striped{
        border: none;
    }
    .logo-bid{
        text-align: center;
    }
    .bid-admin-right{
        display: none;
    }
    
    .navbar-bid div{
        padding-right: 0px;
        padding-left: 0px;
    }
    .navbar-bid .nav>li>a:hover{
        background-color: #ffffff ! important; 
        color: black;
    }
    .navbar-bid .nav{
        background-color: #eee ! important; 
    }
    .navbar-bid .dropdown li a:hover{
        background-color: #eee;
        color: black;
    }
    .navbar-bid .dropdown-menu>li>a:hover{
        background-color: #ffffff !important;
    }
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        background-color: #ffffff !important ;
        color: black;
    }
    .navbar-nav-bid{
        margin:0px;
    }
    .admin-name-res {
        display:inline;
    }
    .admin-name-res a{
        color: black !important;
        font-size:14px;
        margin-left: 28px;
        font-weight: 500 !important;
        margin-top: 5px;
        display: inline-block;
        text-decoration: none;
    }
     .admin-name-res span{
        background: none !important;
    }
    .admin-name-res ul{
        margin-left: 28px;
        margin-top: 12px;
    }
     .admin-name-res ul li a{
       margin-left: 0px;
    }
    .btn-refresh{
        margin: 8px 0 18px 0;
    }
/*-----my biding history media query----*/
    .hist-search{
        float: right ;
    }
    .mar-bot-10{
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

@media screen and (max-width:400px){
    .span-hd {
        font-size: 12px;
        margin: -.4em 0px -.4em -.4em;
        
    }
    .span-bid-right{
        font-size: 13px;
    }
}

/* -------------- bid listning css-------------- end */

/* login paddinding */
.lpad{
	padding-top: 122px;
	padding-bottom: 122px;
}
.header-right-list{
	float:left;
	height:20px;
	padding-left: 20px;
}

.india-logo img{
	padding:11px 11px 11px 25px;
	float:left;
	height: 65px;
	}
	
.bidW{
 width: 80px;
}
.theight {
    display:block;
    max-height: 198px;
    overflow:auto;
     width:100%;
}

.table-horizaontal{
    width: 100%;
    display:block;
    overflow-x: auto;
}

.table-horizaontal-bid{
    width: 100%;
    display:block;
    overflow-x: auto;
}

.margint{
  margin-top: -17px;
}

/*----------my bid history css ---------*/
.table-hist{
    margin-top: 10px;
}
.date{
    z-index: 0;
}
#list-wrapper{
    max-height: 400px;
    overflow-y: scroll;
    
    margin-top: 20px;
    border: solid 1px black;
}


