
<section class="content-section">
	<div class="container" >
		<div class="row">
			<div class="page-header"> <span class="red text-center">
				<h4>Please Refresh to View Dashboard Related Data </h4>
			</span> </div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="search-box">
					<form>

						<div class="col-md-3">
							<div class="form-group row">
								<label for="date" class="col-sm-4 col-form-label">Date</label>
								<div class="col-sm-8">
									<input class="form-control" id="txtdateid" ng-model="txtsrchdate" placeholder="" type="date">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row">
								<label for="text" class="col-sm-4 col-form-label">Lot Code</label>
								<div class="col-sm-8">
									<input class="form-control" id="txtlotid" ng-model="txtlotcode" placeholder="" type="text">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row">
								<label for="text" class="col-sm-4 col-form-label">Invoice No</label>
								<div class="col-sm-8">
									<input class="form-control" id="txtinvid" ng-model="txtinvno" placeholder="" type="text">
								</div>
							</div>
						</div>
						<div class="col-md-3 search-button">
							<button type="button" class="btn btn-primery search-button" ng-click="showsearchrslt()">Search</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12"> 
				<!-- PAGE CONTENT BEGINS -->
				<div class="col-xs-12 col-sm-12" id="">    
					<div class="panel panel-color">
						<h4 class="panel-heading"> Pending Invoices </h4>
					</div>     
						<table class="table table-bordered">
							<thead class="">
								<tr>
									<th>Invoice </th>
									<th>Date</th>
									<th>Lot code</th>
									<th>Selller Name </th>
									<th>Agent Name</th>
									<th>Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="invoicelist in invoicedtl.invoiceModel">
									<td class="">{{invoicelist.invoiceNo}}</td>
									<td class="">{{invoicelist.invoiceDate}}</td>
									<td class="">{{invoicelist.lotCode}}</td>
									<td class="">{{invoicelist.sellerName}}</td>
									<td class="">{{invoicelist.commissionAgentName}}</td>
									<td class="">{{invoicelist.amount}}</td>
								</tr>
							</tbody>
						</table>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12"> 
				<!-- PAGE CONTENT BEGINS -->
				<div class="col-xs-12 col-sm-6 col-md-3 panel-table" id="">

					<div class="panel panel-color ">
						<h4 class="panel-heading">My Preferred Commodities </h4>
					</div>
					
						<table class="table table-bordered">
							<tbody class="thin-border-bottom theight">
								<tr ng-repeat="commoditylist in commodity.allPreferredCommodity">
									<td>{{commoditylist.commodityName}}</td>
								</tr>
							</tbody>
							
						</table>
					     
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 panel-table" id="">

					<div class="panel panel-color">
						<h4 class="panel-heading"> My Trade Details </h4>
					</div>
					
						<div id="pieChartTeadeContainer" style="height: 250px; width: 100%;"></div>
					   
				</div>  
				<div class="col-xs-12 col-sm-6 col-md-6  panel-table" id="widget-container-col-2">
					<div class="panel panel-color ">
						<h4 class="panel-heading"> Outcry/Auction Won </h4>
					</div>
					
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Auction Type </th>
									<th>Commodity</th>
									<th>Lot code</th>
									<th>Bid Rate</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="outrcrylist in outcry.allWinningBidsModel">
									<td class="">{{outrcrylist.auctionType}}</td>
									<td class="">{{outrcrylist.commodity}}</td>
									<td class="">{{outrcrylist.lotCode}}</td>
									<td class="">{{outrcrylist.bidRate}}</td>
								</tr>

							</tbody>
						</table>
					
				</div>  
				<!-- <div class="col-xs-12 col-sm-6 col-md-4 panel-table" id="">
					<div class="panel  panel-color">
						<h4 class="panel-heading"> My Permits  </h4>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Invoice </th>
								<th>Date</th>
								<th>Lot code</th>
								<th>Seller Name </th>
								<th>Agent Name</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class=""></td>
								<td class=""></td>
								<td class=""></td>
								<td class=""></td>
								<td class=""></td>
							</tr>
							      
						</tbody>
					</table>

				</div> -->
			</div>
		</div>
		<div class="row">
			<div class="col-md-12"> 
				<!-- PAGE CONTENT BEGINS -->
				<!-- <div class="col-xs-12 col-sm-6 col-md-6  panel-table" id="widget-container-col-2">
					<div class="panel panel-color ">
						<h4 class="panel-heading"> Outcry/Auction Won </h4>
					</div>
					
						<table class="table table-bordered">
							<thead>
								<tr>
									<th>Auction Type </th>
									<th>Commodity</th>
									<th>Lot code</th>
									<th>Bid Rate</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="outrcrylist in outcry.allWinningBidsModel">
									<td class="">{{outrcrylist.auctionType}}</td>
									<td class="">{{outrcrylist.commodity}}</td>
									<td class="">{{outrcrylist.lotCode}}</td>
									<td class="">{{outrcrylist.bidRate}}</td>
								</tr>

							</tbody>
						</table>
					
				</div> -->

				<!-- <div class="col-xs-12 col-sm-6 col-md-6 panel-table" id="widget-container-col-2">

					<div class="panel panel-color">
						<h4 class="panel-heading"> Security Deposit Details </h4>
					</div>
						<table class="table table-bordered ">
							<thead class="thin-border-bottom">
								<tr>
									<th>Invoice </th>
									<th>Date</th>
									<th>Lot code</th>
									<th>Seller Name </th>
									<th>Agent Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
									<td class=""></td>
								</tr>
								
							</tbody>
						</table>
				</div>
			</div> -->
		</div><br>
	</div>	
</section>
